[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
flake8 = "*"

[packages]
click = "*"
pytest = "*"
requests-html = "*"

[requires]
python_version = "3.7"
